@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #16181d; /* Declaring a variable */
  --center: 1196px;
}

/* Modular css */

/* Uitilities */
.center {
  max-width: var(--center);
  margin-inline: auto;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.page-body {
  background-color: var(--bg-color);
  background-image: url('./bg-image.png');
  background-repeat: no-repeat;
  background-size: 675px 790px;
}

.top-nav {
  /* padding: 40px; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-container {
  /* background-color: black; */
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link-item {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
