/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */

/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: "Lato";
}

/* Variables */
:root {
  --bg-color: #16181d; /* Declaring a variable */
  --center: 1196px;
  --color-white: #ffffff;
}

/* Refactor: Trying not repeat codes */

/* Uitilities */
.center {
  max-width: var(--center);
  margin-inline: auto;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.page-body {
  background-color: var(--bg-color);
  background-image: url("./bg-image.png");
  background-repeat: no-repeat;
  /* background-size: 675px 790px; */
}

.top-nav {
  /* padding: 40px; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-container {
  /* background-color: black; */
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  text-decoration: none;
}

.nav-mobile-menu-btn {
  height: 30px;
  width: 30px;
  /* background-color: blue; */
  /* display: flex; */
  flex-direction: column;
  gap: 3.5px;
  display: none;
}

.nav-mobile-menu-btn span {
  height: 5px;
  width: 100%;
  background-color: #9e7666;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-descriptions {
}

.header-description__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  color: var(--color-white);
  margin-top: 90px;
  margin-bottom: 20px;
}

.header-description__sub-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  margin-bottom: 45px;
}

.header-description__cta {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  background: #9e7666;
  border-radius: 50px;
  text-decoration: none;
  padding: 24px 98px;
  display: inline-block;
}

.header-image {
  /* background-color: red; */
}

.header-image__img {
  width: 100%;
}

/* Media Queries */
/* Seperation of concerns (SOC) */
